@charset "UTF-8";
*
{
    margin: 0px;
    padding: 0px;
}

html, body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
body
{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}
main 
{ 
    height: 100vh;
    position: relative;
}

p
{
    
    border: 1px solid grey;
    border-radius: 10px;
    width: fit-content;
    padding: 6px;
    font-size: 20px;
}
section.screen img
{
    left: 25%;
    top: 2%;
    position: absolute;
    width: 50%;
    height: 76%;
}
iframe#homeScreen
{
    width: 48%;
    height: 53vh;
    left:26%;
    top: 3.5vh;
    border-radius: 15px;
    border: 5px solid black;
    background-size: cover;
    position: relative;
}



header
{
    margin-top: 10px;
}

::-webkit-scrollbar
{
    width: 0px;
}
@media only screen and (max-width: 770px) 
{

    
}

@media (min-width: 576px) 
{ ... }

@media (min-width: 768px) { ... }