@charset "UTF-8";
html, body
{
    width: 100vw;
    height: 100vh;
    position: fixed;
}
div section.screen
{
    position: fixed;
    left: 29%;
    top: 24%;
}
div#title
{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
    margin-left:33%;
    border: 3px solid grey;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 1%;

}

button.btn
{
    border: 1px solid rgb(195, 190, 190);
    border-radius: 20px;
    background-color: white;
    
    
}
button.btn:hover
{
   transform: scale(1.5);
   color: black;
   transition: 0.5s;
   border: 1px solid rgb(1, 14, 57);
}
footer p
{
    margin-top: 53.5em;
    margin-left: 50em;
}
iframe#homeScreen{
    width: 39.4%;
    height: 49.5%;
    margin-left: 30.2%;
    margin-top: 9.3%;
    position: fixed;
    border-radius: 15px;
    border: 5px solid black;
    background-image: url(/images/automaton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    margin-top: 20px;
}

iframe ::-webkit-scrollbar{
    width: 0px;
  }

  